body{
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: yellowgreen;
    margin-bottom: 30px;
    
}
h2{
    color: rgb(235, 232, 56);
}
.Container Welcom{
    display: grid;
    grid-template-columns: 100px 200px;
}